@(form: Form[(String, String, String)])(implicit flash: Flash)
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Apps: Login</title>


    <!-- Bootstrap -->
    <link rel="stylesheet" type="text/css" media="screen" href="@routes.WebJarAssets.at(WebJarAssets.locate("css/bootstrap.min.css"))">
	<link href='https://fonts.googleapis.com/css?family=Roboto:400,100,300,500' rel='stylesheet' type='text/css'>


	<link rel="stylesheet" type="text/css" media="screen" href="@routes.Assets.at("css/custom.css")">
    <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
  
  @helper.form(routes.Auth.authenticate) {
                <div class="loginbox">
		<div class="container-fluid">
			<h1>Apps</h1>
			<p class="title">Please enter your credential</p>
			@form.globalError.map { error =>
                <p class="error">
                    @error.message
                </p>
            }
            
            @flash.get("success").map { message =>
                <p class="success">
                    @message
                </p>
            }
            
			<div class="form-group">
				<input type="text" class="form-control" placeholder="Username" name="username" id="username" 
				        value="@form("username").value" maxlength="45"/>
			</div>
			<div class="form-group">
				<input type="password" class="form-control" name="password" id="password" placeholder="Password" maxlength="45"
				value="@form("username").value" />
			</div>
			<p class="text-left">
				<input type="submit" class="btn btn-primary btn-block" value="Login">
                <input type="hidden" name="redirect_url" value="@form("redirect_url").value">
			</p>
			
			<p class="text-center signup">
				Don't have an account? <a href="https://example.com/login/index?continue=y" title="Signup">Sign up now</a>
			</p>
		</div>			
	</div>
            
        }
        
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="@routes.WebJarAssets.at(WebJarAssets.locate("js/bootstrap.min.js"))"></script>
  </body>
</html>
